DBUS_test/MDK-ARM/DBUS_test/
DBUS_test/MDK-ARM/DBUS_test/
DBUS_test/MDKARM/build/
DBUS_test\MDK-ARM\DBUS_test_EIDE\
DBUS_test/MDK-ARM/DBUS_test/
DBUS_test/MDK-ARM/*.uvoptx
DBUS_test/MDK-ARM/*.uvguix.*

Motor_test/MDK-ARM/DBUS_test/
Motor_test/MDK-ARM/DBUS_test/
Motor_test/MDKARM/build/
Motor_test/MDKARM/Eide/
Motor_test/MDK-ARM/Motor_test/
Motor_test/MDK-ARM/*.uvoptx
Motor_test/MDK-ARM/*.uvguix.*

DWT_test/MDK-ARM/DWT_test/
DWT_test/MDK-ARM/DWT_test_EIDE/
DWT_test/MDKARM/build/
DWT_test/MDKARM/Eide/
DWT_test/MDK-ARM/DWT_test/
DWT_test/MDK-ARM/*.uvoptx
DWT_test/MDK-ARM/*.uvguix.*

Shoot_test/MDK-ARM/Shoot_test/
Shoot_test/MDK-ARM/.eide/
Shoot_test/MDKARM/build/
Shoot_test/MDKARM/Eide/
Shoot_test/MDK-ARM/Shoot_test/
Shoot_test/MDK-ARM/*.uvoptx
Shoot_test/MDK-ARM/*.uvguix.*

RemoteMini_test/MDK-ARM/RemoteMini_test/
RemoteMini_test/MDK-ARM/RemoteMini_test/
RemoteMini_test/MDKARM/build/
RemoteMini_test\MDK-ARM\.eide\
RemoteMini_test/MDK-ARM/RemoteMini_test/
RemoteMini_test/MDK-ARM/*.uvoptx
RemoteMini_test/MDK-ARM/*.uvguix.*

.vs/
.vscode/
CppProperties.json
